In [1]:
if 5<2:
    print("grater than 5")
else:
    print("grater than 2")

grater than 2

In [16]:
#global variable

x = "python"
def my_func():
    print(f"very popular {x} {x}  {x} {x} language is ")
my_func()

very popular python python  python python language is

In [17]:
a = "apple"
b = "banana"
print (f"my bucket in {a} and {b} are allocate")

my bucket in apple and banana are allocate

In [25]:
import datetime

today = datetime.datetime.today()
print(f"{today : %B,%d,%Y}")

 August,02,2023

In [26]:
import datetime
 
today = datetime.datetime.today()
print(f"{today:%B %d, %Y}")

August 02, 2023

In [33]:
name = "komal"
age = 30

def self():
    print(f"my name is {name} and i m {age} year old. ")
self()

my name is komal and i m 30 year old.

In [37]:
# unpack list

car = ["maruti","hyundai","skoda"]
a,b,c = car
#a=b=c= car
print(a)
print(b)
print(c)

maruti
hyundai
skoda

In [43]:
x = "awesome"
y= "fantastic"
def Name():
    print(f"python is {x} {y} lunguage")
Name()

python is awesome fantastic lunguage

In [45]:
global x
x = "awesome"

global y
y= "fantastic"

def Name():
    print(f"python is {x} and {y} lunguage")
    
Name()

python is awesome and fantastic lunguage

In [55]:
# data type define

#1 int
x=50
print(type(x))

# 2 float
x= 5.5
print(type(x))

# 3 string
x = "apple"
print(type(x))

#4 list
x = ["apple","banana","orange"]
print(type(x))

#5 tuple
x = ("apple","mango","banana")
print(type(x))

#6 dictionary
x = {"car" : "maruti", "prize" : 700000}
print(type(x))

#7 set
x = {"apple","banana","orange"}
print(type(x))

#8 bool
x= False
print(type(x))

#9 byte
x = b"hello"
print(type(x))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'bool'>
<class 'bytes'>

In [61]:
# type casting

#int to float

x = 5
print(float(x))
x = 250
print(float(x))

#float to int

x = 2.5
print(int(x))
x = 5.123
print(int(x))

#string
x = "hello"
print(str(x))
x = 50
print(str(x))

5.0
250.0
2
5
hello
50

In [65]:
# string lengh

x = "hello world"# total number of words in string
print(len(x))

x = "my name is komal"
print(len(x))

11
16

In [71]:
#check string

x = "today is my first day in office"
print("first" in x)
x = "this is the last chance"
print("today" in x)

#use if statement

x = "today is my first day in office"
if "first" in x:
    print("given string is correct")
else:
    print("given string is not correct")
    
x = "today is my first day in office"
if "this" in x:
    print("given string is correct")
else:
    print("given string is not correct")

True
False
given string is correct
given string is not correct

In [79]:
#string slicing

x = "this is last day"
print(x[1:5])

x = "this is last day"
print(x[:9])

x = "this is last day"
print(x[5:])

his
this is l
is last day

In [85]:
#format string

car = "motor cycle"
prize = 700000
model = "mm2053"

CarDetails = ("my car name is {} and car prize {} and model no {} is provided by company")
print(CarDetails.format(car,prize,model))


name = "pooja"
study = "b.com"
address = "vadodara"
datetime = 2.42

SelfDetails = ("this is my adress {2} and my name is {0} and my study is {1} this is my time {3} to display")
print(SelfDetails.format(name,study,address,datetime))

my car name is motor cycle and car prize 700000 and model no mm2053 is provided by company
this is my adress vadodara and my name is pooja and my study is b.com this is my time 2.42 to display

In [95]:
#string method

#capitalize

x = "apple"
a = "my name is komal"
x.capitalize()
a.capitalize()

'My name is komal'

In [94]:
#casefold

x = "MY NAME IS POOJA"
x.casefold()

'my name is pooja'

In [98]:
#center

x = "my name is komal"
x.center(30)

'       my name is komal       '

In [99]:
#count

x = "my name is komal komal komal is name"
x.count("is")

2

In [101]:
#endswith
x = "my name is komal."
a = x.endswith("l")
print(a)

False

In [102]:
x = "my name is komal"
a = x.endswith("l")
print(a)

True

In [107]:
#expandtab

x = "my\tname\tis\tkomal"
a = x.expandtabs(5)
print(a)

my   name is   komal

In [109]:
#find

x = "my name is komal"
a= x.find("komal")
print(a)

11

In [112]:
#format

a = "system"
x = "this is {} not working"
print(x.format(a))

this is system not working

In [113]:
#isalnum

x = "code123"
x.isalnum()

True

In [115]:
x = "practice 125"
x.isalnum()

False

In [116]:
#isalpha

x = "code"
x.isalpha()

True

In [117]:
x = "code 123"
x.isalpha()

False

In [118]:
#islower

x = "apple"
x.islower()

True

In [119]:
x = "Apple"
x.islower()

False

In [125]:
#join

x = ("apple","color")
a = "*". join(x)
print(a)

apple*color

In [126]:
#maketrans

x = "today is last day."
a = str.maketrans("a","k")
print(x.translate(a))

todky is lkst dky.

In [127]:
#zfill

a = "hello"
b = "appleeee"

print(a.zfill(7))
print(a.zfill(10))

00hello
00000hello

In [131]:
class my_class():
    def my_func(self):
        return 0
x = my_class()
print(bool(x))

True

In [129]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [133]:
class fruits():
    def Fruit():
        return 1
a = fruits()
print(bool(a))

True

In [134]:
def my_func():
    return False
if my_func():
    print("yes")
else:
    print("no")

no

In [135]:
def my_func():
    return True
if my_func():
    print("yes")
else:
    print("no")

yes

In [138]:
#logical operator

#and operator
a = 7
print(a > 6 and a < 10)

True

In [139]:
a = 5
print(a < 6 and a > 10)

False

In [140]:
#or operator

a = 5
print(a <6 or a > 10)

True

In [143]:
a = 8
print(a > 2 or a < 10)

True

In [145]:
# not operator

a = 5
print(not(a < 2 and a > 10))

True

In [ ]:
#identity oprrator

In [150]:
def main():
    arg = 4
    print(arg)
main()

4

In [151]:
def main():
    n = 9001
    print(f"Initial address of n: {id(n)}")
    increment(n)
    print(f"  Final address of n: {id(n)}")

def increment(x):
    print(f"Initial address of x: {id(x)}")
    x += 1
    print(f"  Final address of x: {id(x)}")

main()

Initial address of n: 2634373442832
Initial address of x: 2634373442832
  Final address of x: 2634372808048
  Final address of n: 2634373442832

In [152]:
def set_list(list):
	list = ["A", "B", "C"]
	return list

def add(list):
	list.append("D")
	return list

my_list = ["E"]

print(set_list(my_list))

print(add(my_list))

['A', 'B', 'C']
['E', 'D']

In [159]:
def mylist(list):
    list=["apple","banana","orange"]
    return list

def add(list):
    list.append("cherry")
    return list

new_list = ["sugar"]

print(mylist(new_list))

print(add(new_list))

['apple', 'banana', 'orange']
['sugar', 'cherry']

In [162]:
#list 

my_list = ["sun","moon","star","sun","star","moon","moon"]#in list duplicate allow
print(len(my_list))

7

In [163]:
print(type(my_list))

<class 'list'>

In [165]:
#list constuctor

mylist = list(("sun","moon"))
print(mylist)
print(type(mylist))

['sun', 'moon']
<class 'list'>

In [167]:
#change list item

mylist = ["apple","banana","cherry"]
mylist[1] = "watermelon"
print(mylist)

['apple', 'watermelon', 'cherry']

In [177]:
mylist = ["apple","banana","cherry","apple","banana","cherry","apple","banana","cherry"]
mylist[2:6] = ["sugar","watermelon"]
print(mylist)

['apple', 'banana', 'sugar', 'watermelon', 'apple', 'banana', 'cherry']

In [182]:
mylist = ["apple","sugar","watermelon","banana"]#insert a value in list
mylist.insert(1 ,"cherry")
print(mylist)

['apple', 'cherry', 'sugar', 'watermelon', 'banana']

In [183]:
mylist = ["apple", "watermelon","cherry"]
mylist.append("banana")
print(mylist)

['apple', 'watermelon', 'cherry', 'banana']

In [184]:
mylist1 = ["apple","sugar","watermelon","banana"]
mylist2 = ["sugar","watermelon"]
mylist1.extend(mylist2)
print(mylist1)

['apple', 'sugar', 'watermelon', 'banana', 'sugar', 'watermelon']

In [185]:
mylist2.extend(mylist1)
print(mylist2)

['sugar', 'watermelon', 'apple', 'sugar', 'watermelon', 'banana', 'sugar', 'watermelon']

In [186]:
#remove list item

mylist = ["apple", "watermelon","cherry"]
mylist.remove("cherry")
print(mylist)

['apple', 'watermelon']

In [196]:
mylist = ['sugar', 'watermelon', 'apple', 'sugar', 'watermelon', 'banana', 'sugar', 'watermelon']
mylist.pop(1)
print(mylist)

['sugar', 'apple', 'sugar', 'watermelon', 'banana', 'sugar', 'watermelon']