In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# MultiIndexing

In [3]:
covid_19_confirmed = pd.read_csv("D:\\excel data\\time_series_covid19_confirmed_global.csv")

In [4]:
covid_19_death = pd.read_csv("D:\\excel data\\time_series_covid19_deaths_global.csv")

In [10]:
# how to create multiindexing
index_value = [("cse",2019),("cse",2020),("cse",2021),("cse",2022),("cse",2023),("ecs",2019),("ecs",2020),("ecs",2021),("ecs",2022),("ecs",2023)]
pd.Series([1,2,3,4,5,6,7,8,9,10],index = index_value)

(cse, 2019)     1
(cse, 2020)     2
(cse, 2021)     3
(cse, 2022)     4
(cse, 2023)     5
(ecs, 2019)     6
(ecs, 2020)     7
(ecs, 2021)     8
(ecs, 2022)     9
(ecs, 2023)    10
dtype: int64

In [14]:
multi_indx = pd.MultiIndex.from_tuples(index_value)
multi_indx.levels

FrozenList([['cse', 'ecs'], [2019, 2020, 2021, 2022, 2023]])

In [15]:
pd.MultiIndex.from_product([["cse","ecs"],[2019,2020,2021,2022,2023]])

MultiIndex([('cse', 2019),
            ('cse', 2020),
            ('cse', 2021),
            ('cse', 2022),
            ('cse', 2023),
            ('ecs', 2019),
            ('ecs', 2020),
            ('ecs', 2021),
            ('ecs', 2022),
            ('ecs', 2023)],
           )

In [20]:
multi_index_series = pd.Series([1,2,3,4,5,6,7,8,9,10],index = multi_indx)

In [21]:
#how to fetch items from such s series

multi_index_series["cse"]

2019    1
2020    2
2021    3
2022    4
2023    5
dtype: int64

In [23]:
multi_index_series["cse",2022]

4

In [27]:
# unstack()
temp_multi = multi_index_series.unstack()

In [28]:
# stack()
temp_multi.stack()

cse  2019     1
     2020     2
     2021     3
     2022     4
     2023     5
ecs  2019     6
     2020     7
     2021     8
     2022     9
     2023    10
dtype: int64

# multiindex DataFtame

In [33]:
branch_df = pd.DataFrame([
    [1,2],
    [3,4],
    [5,6],
    [7,8],
    [9,10],
    [11.12],
    [13,14],
    [15,16],
    [17,18],
    [19,20],
],
index=multi_indx,
columns=["Avg_package","Students"]
)

branch_df

          Avg_package  Students
cse 2019         1.00       2.0
    2020         3.00       4.0
    2021         5.00       6.0
    2022         7.00       8.0
    2023         9.00      10.0
ecs 2019        11.12       NaN
    2020        13.00      14.0
    2021        15.00      16.0
    2022        17.00      18.0
    2023        19.00      20.0

In [34]:
branch_df.shape

(10, 2)

In [35]:
branch_df.loc["cse"]

      Avg_package  Students
2019          1.0       2.0
2020          3.0       4.0
2021          5.0       6.0
2022          7.0       8.0
2023          9.0      10.0

In [69]:
branch_df1 = pd.DataFrame([
    [1,2,3,4,25,30,1,2],[5,6,7,8,30,35,1,2],[9,10,11,12,35,40,1,2],[13,14,15,16,40,45,1,2],[17,18,19,20,45,50,1,2]], index = [2019,2020,2021,2022,2023], columns = pd.MultiIndex.from_product([["Delhi","Mumbai"],["Students","Avg_marks","obtain_marks","Avg_package"]]))
print(branch_df1)

# branch_df1 = pd.DataFrame([[1,2,3,4,1,0],[4,5,6,7,1,0],[7,8,9,10,1,0],[10,11,12,0,13,1],[13,0,14,15,16,1],[16,17,0,18,19,1],[19,20,21,22,1,0],[22,23,24,25,0,1],[25,26,27,0,28,1],[27,28,0,29,30,1]], index = [2019,2020,2021,2022,2023],columns=pd.MultiIndex.from_product([["Delhi","Mumbai"],["Avg_package","Students","sss"]]))

        Delhi                                      Mumbai            \
     Students Avg_marks obtain_marks Avg_package Students Avg_marks
2019        1         2            3           4       25        30
2020        5         6            7           8       30        35
2021        9        10           11          12       35        40
2022       13        14           15          16       40        45
2023       17        18           19          20       45        50


     obtain_marks Avg_package
2019            1           2
2020            1           2
2021            1           2
2022            1           2
2023            1           2

In [70]:
branch_df1["Delhi"]

      Students  Avg_marks  obtain_marks  Avg_package
2019         1          2             3            4
2020         5          6             7            8
2021         9         10            11           12
2022        13         14            15           16
2023        17         18            19           20

In [86]:
branch_df2 = pd.DataFrame([[1,2,3,4,25,30,1,2],[5,6,7,8,30,35,1,2],[9,10,11,12,35,40,1,2],[13,14,15,16,40,45,1,2],[17,18,19,20,45,50,1,2]],index  = [2019,2020,2021,2022,2023], columns= pd.MultiIndex.from_product([["Ahmedabad","Surat"],["Avg_marks","Students","obtain_marks","Avg_package"]]))
print(branch_df2)

     Ahmedabad                                       Surat           \
     Avg_marks Students obtain_marks Avg_package Avg_marks Students
2019         1        2            3           4        25       30
2020         5        6            7           8        30       35
2021         9       10           11          12        35       40
2022        13       14           15          16        40       45
2023        17       18           19          20        45       50


     obtain_marks Avg_package
2019            1           2
2020            1           2
2021            1           2
2022            1           2
2023            1           2

In [72]:
multi_indx

MultiIndex([('cse', 2019),
            ('cse', 2020),
            ('cse', 2021),
            ('cse', 2022),
            ('cse', 2023),
            ('ecs', 2019),
            ('ecs', 2020),
            ('ecs', 2021),
            ('ecs', 2022),
            ('ecs', 2023)],
           )

In [73]:
branch_df1

        Delhi                                      Mumbai            \
     Students Avg_marks obtain_marks Avg_package Students Avg_marks
2019        1         2            3           4       25        30
2020        5         6            7           8       30        35
2021        9        10           11          12       35        40
2022       13        14           15          16       40        45
2023       17        18           19          20       45        50


     obtain_marks Avg_package
2019            1           2
2020            1           2
2021            1           2
2022            1           2
2023            1           2

In [83]:
branch_df1.stack().stack()

2019  Avg_marks     Delhi      2
                    Mumbai    30
      Avg_package   Delhi      4
                    Mumbai     2
      Students      Delhi      1
                    Mumbai    25
      obtain_marks  Delhi      3
                    Mumbai     1
2020  Avg_marks     Delhi      6
                    Mumbai    35
      Avg_package   Delhi      8
                    Mumbai     2
      Students      Delhi      5
                    Mumbai    30
      obtain_marks  Delhi      7
                    Mumbai     1
2021  Avg_marks     Delhi     10
                    Mumbai    40
      Avg_package   Delhi     12
                    Mumbai     2
      Students      Delhi      9
                    Mumbai    35
      obtain_marks  Delhi     11
                    Mumbai     1
2022  Avg_marks     Delhi     14
                    Mumbai    45
      Avg_package   Delhi     16
                    Mumbai     2
      Students      Delhi     13
                    Mumbai    40
      obtain_marks  Delhi     15
                    Mumbai     1
2023  Avg_marks     Delhi     18
                    Mumbai    50
      Avg_package   Delhi     20
                    Mumbai     2
      Students      Delhi     17
                    Mumbai    45
      obtain_marks  Delhi     19
                    Mumbai     1
dtype: int64

In [85]:
branch_df1.unstack().unstack()

                     2019  2020  2021  2022  2023
Delhi  Avg_marks        2     6    10    14    18
       Avg_package      4     8    12    16    20
       Students         1     5     9    13    17
       obtain_marks     3     7    11    15    19
Mumbai Avg_marks       30    35    40    45    50
       Avg_package      2     2     2     2     2
       Students        25    30    35    40    45
       obtain_marks     1     1     1     1     1

In [87]:
import seaborn as sns

#pivot table