In [1]:
import random

In [4]:
x = random.randint(0,1000)
print(x)

533

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_csv("D:\\excel data\\titanic.csv")

In [8]:
df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
566,567,0,3,"Stoytcheff, Mr. Ilia",male,19.0,0,0,349205,7.8958,NaN,S
340,341,1,2,"Navratil, Master. Edmond Roger",male,2.0,1,1,230080,26.0000,F2,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
289,290,1,3,"Connolly, Miss. Kate",female,22.0,0,0,370373,7.7500,NaN,Q
254,255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.0,0,2,370129,20.2125,NaN,S

# joint probability

In [10]:
# total number of passengers of 891.

pd.crosstab(df["Survived"],df["Pclass"])

Pclass      1   2    3
Survived
0          80  97  372
1         136  87  119

In [11]:
# single data known as joint probability = "0.089787"
# all data combination known as joint probability distribution = "0.089787+0.108866+0.417508+0.152637+0.097643+0.133558"
pd.crosstab(df["Survived"],df["Pclass"],normalize="all")

Pclass           1         2         3
Survived
0         0.089787  0.108866  0.417508
1         0.152637  0.097643  0.133558

In [16]:
# normalize in probability find
# margins in probability distribution find

In [15]:
pd.crosstab(df["Survived"],df["Pclass"],normalize="all",margins=True)

Pclass           1         2         3       All
Survived
0         0.089787  0.108866  0.417508  0.616162
1         0.152637  0.097643  0.133558  0.383838
All       0.242424  0.206510  0.551066  1.000000

# marginal probability

In [14]:
pd.crosstab(df["Survived"],df["Pclass"],normalize="all",margins=True)

Pclass           1         2         3       All
Survived
0         0.089787  0.108866  0.417508  0.616162
1         0.152637  0.097643  0.133558  0.383838
All       0.242424  0.206510  0.551066  1.000000