In [1]:
#remove list

mylist = ["apple", "banana","cherry","apple", "banana","cherry"]
mylist.remove("banana")
print(mylist)

['apple', 'cherry', 'apple', 'banana', 'cherry']

In [2]:
#pop 

mylist = ["apple", "banana","cherry","apple", "banana","cherry"]
mylist.pop(3)
print(mylist)

['apple', 'banana', 'cherry', 'banana', 'cherry']

In [3]:
mylist = ["apple", "banana","cherry","apple", "banana","cherry"]
del mylist[1]
print(mylist)

['apple', 'cherry', 'apple', 'banana', 'cherry']

In [4]:
mylist = ["apple", "banana","cherry","apple", "banana","cherry"]
mylist.clear()
print(mylist)

[]

In [5]:
#looping in list

mylist = ["apple", "banana","cherry"] #for loop
for a in mylist:
    print(a)

apple
banana
cherry

In [6]:
mylist = ["apple", "banana","cherry"]
for a in range(len(mylist)):
    print(mylist[a])

apple
banana
cherry

In [7]:
mylist = ["apple", "banana","cherry"] # while loop
a = 0
while a < len(mylist):
    print(mylist[a])
    a = a + 1

apple
banana
cherry

In [8]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [9]:
mylist = ["apple", "banana","cherry"]
newlist = []

for a in mylist:
    if "a" in a:
        newlist.append(a)
print(newlist)

['apple', 'banana']

In [10]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [11]:
mylist = ["school","college","university","mall","hospital"]
newlist = []

for x in mylist:
    if "o"  in x:
        newlist.append(x)
print(newlist)

['school', 'college', 'hospital']

In [12]:
newlist = [x for x in range(10)]
print(newlist)

newlist = [x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]

In [14]:
#list method
list1 = ["furniture","soffa","doctor","patient"]
list2 = ["happy","sad"]

list1.append(list2)
print(list1)

list2.append(list1)
print(list2)

['furniture', 'soffa', 'doctor', 'patient', ['happy', 'sad']]
['happy', 'sad', ['furniture', 'soffa', 'doctor', 'patient', [...]]]

In [15]:
list2 = ["happy","sad"]
list2.clear()
print(list2)

[]

In [17]:
list2 = ["happy","sad"]
a = list2.copy()
print(a)

['happy', 'sad']

In [19]:
list2 = ["happy","sad","happy","sad","happy","sad","happy","sad","happy","sad","happy","sad"]
a = list2.count("happy")
print(a)

6

In [22]:
mylist1 = ["school","college","university","mall","hospital"]
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

fruits.extend(mylist1)
print(fruits)

mylist1.extend(fruits)
print(mylist1)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'school', 'college', 'university', 'mall', 'hospital']
['school', 'college', 'university', 'mall', 'hospital', 'apple', 'banana', 'cherry', 'kiwi', 'mango', 'school', 'college', 'university', 'mall', 'hospital']

In [23]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
a = fruits.index("cherry")
print(a)

2

In [25]:
#tuple change value

mytuple = ("car","cycle","bike","motorcycle")
a = list(mytuple)
a.append("vehical")
print(a)

['car', 'cycle', 'bike', 'motorcycle', 'vehical']

In [26]:
mytuple = ("apple","banana","cherry","bike")
x = list(mytuple)
print(x)

['apple', 'banana', 'cherry', 'bike']

In [27]:
x.append("sugar")
print(x)

['apple', 'banana', 'cherry', 'bike', 'sugar']

#  practice

In [29]:
#reverse list

list1 = [1,2,3]
list1.sort(reverse=True)
print(list1)

[3, 2, 1]

In [2]:
def swapLit(li1):
    
    li1[0] ,li1[-1] = li1[-1] ,li1[0]
    
    return li1

li1 = [12, 35, 9, 56, 24]
print("printing main list",li1)
a=swapLit(li1)
print("printing output",a)

printing main list [12, 35, 9, 56, 24]
printing output [24, 35, 9, 56, 12]

In [82]:
def swapList(newList):
     
    newList[0], newList[-1] = newList[-1], newList[0]
 
    return newList
     
# Driver code
newList = [12, 35, 9, 56, 24]
print(swapList(newList))

[24, 35, 9, 56, 12]

In [48]:
#reverse list

list1 = [4, 5, 6, 7, 8, 9]
list1.reverse()
print(list1)

[9, 8, 7, 6, 5, 4]

In [69]:
# how to find lengh in list

mylist = [1,2,3,4,5,8,2,4]


for a in range(len(mylist)):
    print(mylist[a])
    

print(a)

1
2
3
4
5
8
2
4
7

In [67]:
#lengh find
list1 = ["furniture","soffa","doctor","patient"]

a = len(list1)
print(a)

4

In [54]:
# check list valid
list1 = ["furniture","soffa","doctor","patient"]

if "doctor" in list1:
    print("this list is valid")
else:
    print("list not valid")

this list is valid

In [76]:
list1 = ["furniture","soffa","doctor","patient"]
list2 = []

for a in list1:
    if "o" in a:
        list2.append(a)
        
print(list2)

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['soffa', 'doctor']
['apple', 'banana', 'mango']

In [73]:
list1 = ["furniture","soffa","doctor","patient"]
list1.clear()
print(list1)

[]

In [6]:
#Swap elements in String list
a = ("furniture","soffa","doctor","patient")

print("The original string :"+str(a) )

res = [sub.replace('o', 'a')for sub in a]
 

print ("List after performing character swaps : " + str(res))

The original string :('furniture', 'soffa', 'doctor', 'patient')
List after performing character swaps : ['furniture', 'saffa', 'dactar', 'patient']

In [8]:
#Maximum of two numbers in Python

a = 12
b = 10
c = 5

x = max(a,b,c)
print(x)

12

In [9]:
x = min(a,b,c)
print(x)

5

In [18]:
a = 10
b = 5

def maximum(a,b):
    
    if a >= b:
        return a
    else:
        return b
    
print(maximum(a,b))

10

In [17]:
def maximum(a, b):
     
    if a >= b:
        return a
    else:
        return b
     
# Driver code
a = 2
b = 4
print(maximum(a, b))

4

In [19]:
def minimum(a,b):
    if a <= b:
        return a
    else:
        return b
print(minimum(a,b))

5

In [20]:
minimum = min(a,b)
print(minimum)

5

In [22]:
#Cloning or Copying a list

a = ["apple","banana","cherry"]
x = a.copy()
print(x)

['apple', 'banana', 'cherry']

In [23]:
#Count occurrences of an element in a list

lst = [15, 6, 7, 10, 12, 20, 10, 28, 10]

lst.count(10)

3

In [24]:
lst1 = ["apple","banana","cherry","apple","cherry",15, 6, 7, 10]
lst1.count("banana")

1

In [26]:
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8

def countX(lst, x):
    count = 0
    for y in lst:
        if (y == x):
            count = count + 1
    return count
 
 


print('{} has occurred {} times'.format(x,countX(lst, x)))

8 has occurred 5 times

In [39]:
lst = [10,20,30,10,40,60,10,10,30,10,20,30,10,40,60,10,10,30,10,20,30,10,40,60,10,10,30,10,20,30,10,40,60,10,10,30,10,20,30,10,40,60,10,10,30]
a = 10

def cont(lst,a):
    cont1 = 0
    for b in lst:
        if(b == a):
            cont1 = cont1+1
    return cont1
print("{} is repetd is {}".format(a,cont(lst,a)))

10 is repetd is 20

In [47]:
lst = ["apple","banana","cherry","banana","cherry","apple","banana","cherry","apple","banana","cherry"]
a = "apple"

def count(lst,a):
    count1 = 0
    for x in lst:
        if (x == a):
            count1 = count1 + 1
    return count1
    
print("{} is {} times repeat in list:".format(a,count(lst,a)))

apple is 3 times repeat in list:

In [61]:
#sum and average of List in Python

lst = [1,2,3,4]
count = sum(lst)
print(x)

avg = count/len(lst)
print(avg)

10
2.5

In [5]:
#Multiply all numbers in the list

lst1 = [1,2,3,5]

def multiply(lst1):
    count = 1
    for a in lst1:
        count = count*a
    return count

print(multiply(lst1))

30

In [15]:
lst1 = [10,20,2,3]
lst2 = [5,2,1]

def multiply(mylist):
    count = 1
    for a in range(0,len(mylist)):
        count = count*mylist[a]
    return count
     
print(multiply(lst1))
print(multiply(lst2))

1200
10

In [17]:
lst1 = [5,2,1]
lst2 = [5,2]
lst3 = [5,1]

def multiply(mylist):
    count = 1
    for x in range(0,len(mylist)):
        count = count * mylist[x]
    return count

print(multiply(lst1))
print(multiply(lst2))
print(multiply(lst3))

10
10
5

In [25]:
#Sorting the list to find smallest number in a list
lst1 = [5,2,1]
lst1.sort()
print("smallest number in list is :-", lst1[0])
print(lst1)
# asending order

smallest number in list is :- 1
[1, 2, 5]

In [36]:
list1 = [10,20,5,8,2,90,80,30]
list1.sort()
print("asending data format",list1)
print("smallest number in list:",list1[0])

asending data format [2, 5, 8, 10, 20, 30, 80, 90]
smallest number in list: 2

In [42]:
#Find Largest Number in a List

lst1 = [10,20,2,3]
lst1.sort(reverse= True)
print("largest number in list is :-", lst1[-1])
print(lst1)
#decending order

largest number in list is :- 2
[20, 10, 3, 2]

In [45]:
list1 = [10,20,5,8,2,90,80,30]
list1.sort()
print("decending data format:",list1)
print("largest number in list:", list1[-1])

decending data format: [2, 5, 8, 10, 20, 30, 80, 90]
largest number in list: 90

In [48]:
#program to find second largest number in a list

list1 = [10,20,5,8,2,90,80,30]
list1.sort()
print("second largest number in list:", list1[-2])

second largest number in list: 80

In [50]:
lst = [582,236,963,231,753,145]
lst.sort()
print("largest number in list:" ,lst[-1])
print("second largest number in list:" , lst[-2])
print("smallest number in list:", lst[0])

largest number in list: 963
second largest number in list: 753
smallest number in list: 145

In [1]:
#program to print even numbers in a list

list1 = [10,20,5,8,2,90,80,30]

for num in list1:
    if num % 2 == 0:
        print(num, end= " , ")

10 , 20 , 8 , 2 , 90 , 80 , 30 ,

In [57]:
#program to print odd numbers in a list

list1 = [10,20,5,8,2,90,80,30]

for num in list1:
    if num % 2 != 0:
        print(num, end= " , ")

5 ,

In [62]:
#program to print all even numbers in a range

#list1 = [10,20,5,8,2,90,80,30]

for num in range(4,20):
    if num % 2 == 0:
        print(num, end= " , ")

4 , 6 , 8 , 10 , 12 , 14 , 16 , 18 ,

In [2]:
a = int(input("enter a first number:"))
b = int(input("enter a second number:"))

for num in range(a, b + 1):
    if num % 2 == 0:
        print(num,end= " ")

enter a first number:5
enter a second number:8
6 8

In [69]:
#program to print all odd numbers in a range

a = int(input("enter 1st number:"))
b = int(input("enter 2nd number:"))

for num in range(a, b+1):
    if num % 2 != 0:
        print(num)

enter 1st number:4
enter 2nd number:20
5
7
9
11
13
15
17
19

In [84]:
#program to count Even and Odd numbers in a List

list1 = [10, 21, 4, 45, 66, 93, 1]

even_count, odd_count = 0,0

for num in list1:
    if num % 2 ==0 :
        even_count += 1
    else:
        odd_count += 1
    
print("even number:" , even_count)
print("odd number:" , odd_count)

even number: 3
odd number: 4

In [85]:
list1 = [10,20,5,8,2,90,80,30]

even_count, odd_count = 0,0
for num in list1:
    if num %2 == 0:
        odd_count += 1
    else:
        even_count += 1
print("odd number:" , odd_count)
print("even number:" , even_count)

odd number: 7
even number: 1

In [88]:
#program to print positive numbers in a list

list1 = [-1,5,-6,8,2,-10]

num = 0

for num in list1:
    if num > 0:
        print(num, end= " ")

5 8 2

In [91]:
list1 = [-1,5,-6,8,2,-10,-1,5,-6,8,2,-10,-1,5,-6,8,2,-10-1,5,-6,8,2,-10,-1,5,-6,8,2,-10]
num = 0

for num in list1:
    if num > 0:
        #print(num)
        print(num,end= " ")

5 8 2 5 8 2 5 8 2 5 8 2 5 8 2

In [100]:
#program to print nagative numbers in a list

list1 = [-1,5,-6,8,2,-10,-1,5,-6,8,2,-10,-1,5,-6,8,2,-10-1,5,-6,8,2,-10,-1,5,-6,8,2,-10]
num = 0

for num in list1:
    if num < 0:
        print(num, end= ", ")

-1, -6, -10, -1, -6, -10, -1, -6, -11, -6, -10, -1, -6, -10,

In [93]:
list1 = [-1,5,-6,8,2,-10]
num = 0
for num in list1:
    if num < 0 :
        print(num, end= " ")

-1 -6 -10

In [101]:
#program to print all positive numbers in a range
a = -15
b = 20

for num in range(a, b +1):
    if num >= 0:
        print(num, end= ", ")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,

In [99]:
#program to print all negetive numbers in a range

a = int(input("enter a number:"))
b = int(input("enter a number:"))

for num in range(a, b+1):
    if num < 0:
        print(num)

enter a number:-5
enter a number:6
-5
-4
-3
-2
-1

In [103]:
#program to count positive and negative numbers in a list

list1 = [-1, -6, -10, -1, -6, -10, -1, -6, -11, 10, 11, 12, 13, 14, 15, 16, 17, ]

neg_count, pos_count = 0,0

for num in list1:
    if num < 0 :
        neg_count +=1
    else:
        pos_count +=1
print("negetive number:", neg_count)
print("positive number:", pos_count)

negetive number: 9
positive number: 8

In [1]:
#Remove multiple elements from a list in Python

lst = [1, 2, 3, 4, 5, 6,1, 2, 3, 4, 5, 6, 1, 12, 13, 14, 15, 16, 17]
a = lst.remove(5)
print(a)

None