# TUPLES

In [1]:
#create tuple

mytuple = ("hello", "good", 1,3)
print(mytuple)
print(type(mytuple))

('hello', 'good', 1, 3)
<class 'tuple'>

In [3]:
#tuple using constructor
mytuple = tuple(("hello", "good", 2,3))
print(mytuple)

('hello', 'good', 2, 3)

In [5]:
mytuple = ("hello", "good", "summer", "winter", "hospital")
print(mytuple[1])

good

In [6]:
#negetive indexing

mytuple = ("hello", "good", "summer", "winter", "hospital")
print(mytuple[-3])

summer

In [16]:
#range of index

mytuple = ("hello", "good", "summer", "winter", "hospital","hello", "good", "summer", "winter", "hospital","hello", "good", "summer", "winter", "hospital")
print(mytuple[2:10])

('summer', 'winter', 'hospital', 'hello', 'good', 'summer', 'winter', 'hospital')

In [17]:
print(mytuple[-10:-5])

('hello', 'good', 'summer', 'winter', 'hospital')

In [20]:
#check item in tuple


if "good" in mytuple:
    print("tuple is valid")
else:
    print("tuple not valid")

tuple is valid

In [27]:
#change the tuple

mytuple = ("hello", "good", "summer", "winter", "hospital")
a = list(mytuple)
a[2] = "sumer"
mytuple = tuple(a)
print(mytuple)

('hello', 'good', 'summer', 'winter', 'hospital')

In [30]:
mytuple = ("good", "bad", "equal", "average", 2,3,5,8,9)
x = list(mytuple)# change the tuple
x[3] = " , " # perticular place put
x.append("very good")# add in tuple
print(x)

['good', 'bad', 'equal', ' , ', 2, 3, 5, 8, 9, 'very good']

In [33]:
#remove tuple

mytuple = ("good", "bad", "equal", "average", 2,3,5,8,9)

a = list(mytuple)
a.remove("bad")
mytuple = tuple(a)
print(mytuple)

('good', 'equal', 'average', 2, 3, 5, 8, 9)

In [36]:
#delete tuple

thistuple = ("apple", "banana", "cherry")
del thistuple
#print(thistuple)

In [42]:
#pack and unpack tuple

mytuple = ("good", "bad", "equal", "average") # this is pack tuple
print(mytuple)

(bad, something, ok, bye) = mytuple # this is unpack tuple
print(bad)
print(something)
print(ok)
print(bye)

good
bad
equal
average

In [44]:
# Using Asterisk (*)

mytuple = ("hello", "good", "summer", "winter", "hospital","hello", "good","hello", "good")

(bad,average,winter,*monsoon) = mytuple
print(bad)
print(average)
print(winter)
print(monsoon)

hello
good
summer
['winter', 'hospital', 'hello', 'good', 'hello', 'good']

In [48]:
#join and multiply tuple

mytuple1 = (1,2,3)
mytuple2 = (4,5,9)

mytuple3 = mytuple1 + mytuple2 #join tuple
print(mytuple3)

mytuple4 = mytuple1 * 3 # multiply tuple
print(mytuple4)

(1, 2, 3, 4, 5, 9)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [49]:
thistuple = (1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)
thistuple.count(3)

6

In [50]:
mytuple = ("hello", "good", "summer", "winter", "hospital","hello", "good","hello", "good")
mytuple.count("hello")

3

In [54]:
mytuple = ("hello", "good", "summer", "winter", "hospital","hello", "good","hello", "good")
x = mytuple.index("winter")
print(x)

3

# SET

In [55]:
myset = {"apple", "good", "bad", 1 , 3 , 5}
print(myset)

{'good', 1, 3, 5, 'apple', 'bad'}

In [56]:
print(len(myset))

6

In [57]:
print(type(myset))

<class 'set'>

In [58]:
myset = {"apple", "good", "bad", 1 , 3 , 5}
if "bad" in myset:
    print("valid set")
else:
    print("not valid")

valid set

In [59]:
for a in myset:
    print(a)

good
1
3
5
apple
bad

In [60]:
print("apple" in myset )

True

In [61]:
print("appl" in myset)

False

In [64]:
myset = {"apple", "good", "bad"} # add set
myset.add("summer")
myset.add("apple")
print(myset)

{'good', 'bad', 'summer', 'apple'}

In [66]:
myset = {"apple", "good", "bad"} #clear set
myset.clear()
print(myset)

set()

In [67]:
myset = {"apple", "good", "bad"}# copy set
a = myset.copy()
print(a)

{'good', 'bad', 'apple'}

In [72]:
myset = {"apple", "good", "bad"} # difference set
myset1 = {"microsoft", "good", "google"}

a = myset.difference(myset1) 
b = myset1.difference(myset)

print(a)
print(b)

{'bad', 'apple'}
{'microsoft', 'google'}

In [74]:
myset1 = {"apple", "banana", "cherry","watermelon"}
myset2 = {"google", "microsoft", "apple", "house"}

a = myset1.difference(myset2)
print(a)

b = myset2.difference(myset1)
print(b)

{'banana', 'watermelon', 'cherry'}
{'microsoft', 'house', 'google'}

In [77]:
myset = {"apple", "good", "bad"} # difference_ update
myset1 = {"microsoft", "good", "google"}

myset.difference_update(myset1)
print(myset)

{'bad', 'apple'}

In [78]:
myset1 = {"apple", "banana", "cherry","watermelon"}
myset2 = {"google", "microsoft", "apple", "house"}

myset2.difference_update(myset1)
print(myset2)

{'microsoft', 'house', 'google'}

In [79]:
myset = {"apple", "good", "bad"} # dicard set
myset.discard("good")
print(myset)

{'bad', 'apple'}

In [82]:
myset1 = {"apple", "banana", "cherry","watermelon"} # intersection set
myset2 = {"google", "microsoft", "apple", "house"}

a = myset1.intersection(myset2)
print(a)

{'apple'}

In [84]:
myset1 = {"apple", "banana", "cherry","watermelon"} # intersection_update
myset2 = {"google", "microsoft", "apple", "house"}

myset2.intersection(myset1)
print(myset2)

{'microsoft', 'house', 'google', 'apple'}

In [85]:
myset = {"apple", "good", "bad", "average"} # isdisjoint set
myset2 = {"google", "microsoft", "apple", "house"}

a = myset.isdisjoint(myset2) # same item in set that's why false
print(a)

False

In [86]:
x = {"apple", "banana", "cherry"} # not same item in set that's why true
y = {"google", "microsoft", "facebook"}

a = y.isdisjoint(x)
print(a)

True

In [87]:
myset2 = {"google", "microsoft", "apple", "house"} # pop set

myset2.pop()
print(myset2)

{'house', 'google', 'apple'}

In [88]:
x = {"apple", "banana", "cherry","apple", "banana", "cherry"} # remove set

x.remove("apple")
print(x)

{'banana', 'cherry'}

In [90]:
myset = {"apple", "good", "bad", "average"} # union set
myset2 = {"google", "microsoft", "apple", "house"}

a = myset.union(myset2)
print(a)

{'average', 'apple', 'bad', 'house', 'google', 'good', 'microsoft'}

In [91]:
x = {"apple", "banana", "cherry"} #update set
y = {"google", "microsoft", "apple"}

x.update(y)
print(x)

{'microsoft', 'cherry', 'apple', 'banana', 'google'}

# DICTIONARIES

In [93]:
thisdict = {
    "name": "pooja",
    "address": "valsad",
    "age": 30,
}
print(thisdict)

{'name': 'pooja', 'address': 'valsad', 'age': 30}

In [94]:
print(type(thisdict))

<class 'dict'>

In [95]:
if "address" in thisdict:
    print("valid dict")

valid dict

In [96]:
for a in thisdict:
    print(a)

name
address
age

In [97]:
print(len(thisdict))

3

In [102]:
thisdict = {
    "name": "pooja",
    "address": "valsad",
    "age": 30,
}
print(thisdict["age"])
print(thisdict["name"])

30
pooja

In [103]:
thisdict.keys()

dict_keys(['name', 'address', 'age'])

In [105]:
thisdict.values()

dict_values(['pooja', 'valsad', 30])

In [107]:
thisdict.get("address")

'valsad'

In [111]:
car = {
    "name": "ford",
    "model name": "cmx36253",
    "fuel" : "petrol",
    "prize" : 750000,
    "color" : "red"
}

car.keys()

dict_keys(['name', 'model name', 'fuel', 'prize', 'color'])

In [112]:
car.values()

dict_values(['ford', 'cmx36253', 'petrol', 750000, 'red'])

In [113]:
print(len(car))

5

In [114]:
print(car["color"])

red

In [125]:
car = {
    "name": "ford",
    "model_name": "cmx36253",
    "fuel" : "petrol",
    "prize" : 750000,
    "color" : "red"
}


x = car.keys()
car["size"] = "7seater"
print(x)

dict_keys(['name', 'model_name', 'fuel', 'prize', 'color', 'size'])

In [126]:
print(car)

{'name': 'ford', 'model_name': 'cmx36253', 'fuel': 'petrol', 'prize': 750000, 'color': 'red', 'size': '7seater'}

In [127]:
y = car.values()
car["color"] = "white"
print(y)

dict_values(['ford', 'cmx36253', 'petrol', 750000, 'white', '7seater'])

In [130]:
car.update({"name" : "Hundai"})
print(car)

{'name': 'Hundai', 'model_name': 'cmx36253', 'fuel': 'petrol', 'prize': 750000, 'color': 'white', 'size': '7seater'}

In [132]:
car = {
    "name": "ford",
    "model_name": "cmx36253",
    "fuel" : "petrol",
    "prize" : 750000,
    "color" : "red"
}

for a in car:
    print(a)

name
model_name
fuel
prize
color

In [133]:
for a in car.values():
    print(a)

ford
cmx36253
petrol
750000
red

In [136]:
for a ,b in car.items():
    print(a, b)

name ford
model_name cmx36253
fuel petrol
prize 750000
color red

In [138]:
car = {
    "name": "ford",
    "model_name": "cmx36253",
    "fuel" : "petrol",
    "prize" : 750000,
    "color" : "red"
}

motor = car.copy()
print(motor)

{'name': 'ford', 'model_name': 'cmx36253', 'fuel': 'petrol', 'prize': 750000, 'color': 'red'}

In [139]:
motor = dict(car)
print(motor)

{'name': 'ford', 'model_name': 'cmx36253', 'fuel': 'petrol', 'prize': 750000, 'color': 'red'}

In [140]:
#nested dictionaries 

doctor = {
    "name": "vishal",
    "degee" : "MBBS",
    
}

patient = {
    "id" : 123,
    "name"  : " vishakha",
}


hospital = {
    "doctor" : doctor,
    "patient" : patient
}
print(hospital)

{'doctor': {'name': 'vishal', 'degee': 'MBBS'}, 'patient': {'id': 123, 'name': ' vishakha'}}

# TUPLE PRACTICE

In [142]:
# Python program to demonstrate the addition of elements in a Tuple.

mytuple = ("ekta", "suraj")
mytuple2 = (1,2,3)

a  = mytuple + mytuple2
print(a)

('ekta', 'suraj', 1, 2, 3)

In [143]:
# Find the size of a Tuple in Python

mytuple = ("ekta", "suraj")
print(len(mytuple))

2

In [148]:
# Maximum and Minimum K elements in Tuple

mytuple = (1,2,3,5,9,25,62)


min_value = min(mytuple)
print(min_value)

max_value = max(mytuple)
print(max_value)

1
62

In [163]:
#program to create a list of tuples from given list having number and its cube in each tuple

mytuple = (1,2,3)
[(a, a**3) for a in mytuple]

[(1, 1), (2, 8), (3, 27)]

In [164]:
a = (1,2,3)

In [165]:
[(a,a**3) for a in a]

[(1, 1), (2, 8), (3, 27)]

In [170]:
x = (4,8,12,16)
[(a, a**3) for a in x]

[(4, 64), (8, 512), (12, 1728), (16, 4096)]

In [171]:
mytuple = (2,5,7,1)
[(a,a ** 2)for a in mytuple]

[(2, 4), (5, 25), (7, 49), (1, 1)]

In [174]:
# Adding Tuple to List and vice – versa

a = (1,2,3)
b = (2,3,4)
c = a+b
x = list(c)
print(x)

[1, 2, 3, 2, 3, 4]

In [176]:
# Sum of tuple elements

a = (1,2,3)
b = (4,5,6)
c =  sum( a + b )
print(c)

21

In [186]:
# Modulo of tuple elements

a =(10, 4, 5, 6)
b = (5, 6, 7, 5)

[(x,y % x,y )for x,y in zip(a,b)]

[(10, 5, 5), (4, 2, 6), (5, 2, 7), (6, 5, 5)]

In [188]:
# Update each element in tuple list

a = (1,2,3)

x = list(a)
x.append("apple")

print(x)

[1, 2, 3, 'apple']

In [189]:
# Multiply Adjacent elements

a = (1,2,3)
a*2

(1, 2, 3, 1, 2, 3)

In [204]:
# Join Tuples if similar initial element

a = [(5, 6), (5, 7), (6, 8), (6, 10), (7, 13)]
x = []
print(f"original list:" +str(a))



for y in a:
    if x and x[-1][0] == y[0]:
        x[-1].extend(y[1:])
    else:
        x.append([b for b in y])
        
x = list(map(tuple,x))

print(x)

original list:[(5, 6), (5, 7), (6, 8), (6, 10), (7, 13)]
[(5, 6, 7), (6, 8, 10), (7, 13)]

In [206]:
# All pair combinations of 2 tuples


a = (1,2)
b = (2,3)

print("original tuple:" +str(a))
print("original tuple:" +str(b))

#res =  [(a, b) for a in test_tuple1 for b in test_tuple2]
#res = res +  [(a, b) for a in test_tuple2 for b in test_tuple1]

x = [(c,d) for c in a for d in a]
x = x + [(c,d) for c in a for d in a]

print(x)

original tuple:(1, 2)
original tuple:(2, 3)
[(1, 1), (1, 2), (2, 1), (2, 2), (1, 1), (1, 2), (2, 1), (2, 2)]

In [208]:
# Remove Tuples of Length K

a = (1,2,3,5,9)

x = list(a)
x.remove(5)
print(x)

[1, 2, 3, 9]

In [218]:
# Remove Tuples from the List having every element as None

a = [(None, None), (None, None), (3, 4), (12, 3), (None, )]

print(f"original list:" +str(a))

x = []
for y in a:
    if  not (y.count(None) == len(y)):
        x.append(y)
    
print("after removing list:"+str(x))

original list:[(None, None), (None, None), (3, 4), (12, 3), (None,)]
after removing list:[(3, 4), (12, 3)]

In [220]:
a = [(None,None), (None,None), (1,None), (2,5),(5,8),(None,8)]

print("original list: " +str(a))

x = []

for b in a:
    if not (b.count(None) == len(b)):
        x.append(b)
        
print(x)

original list: [(None, None), (None, None), (1, None), (2, 5), (5, 8), (None, 8)]
[(1, None), (2, 5), (5, 8), (None, 8)]

In [228]:
def Sort_Tuple(tup):
 
    # reverse = None (Sorts in Ascending order)
    # key is set to sort using second element of
    # sublist lambda has been used
    tup.sort(key = lambda x: x[1])
    return tup
 
# Driver Code
tup = [('rishav', 10), ('akash', 5), ('ram', 20), ('gaurav', 15)]
 
# printing the sorted list of tuples
print(Sort_Tuple(tup))

[('akash', 5), ('rishav', 10), ('gaurav', 15), ('ram', 20)]

#  Dictionaries

In [229]:
# Sort Python Dictionaries by Key or Value
car = {
    "name" : "ford",
    "prize" : 750000,
    "color" : "white"
}

print(car.keys())

dict_keys(['name', 'prize', 'color'])

In [232]:
myDict = {
    'ravi': 10, 
    'rajnish': 9,
    'sanjeev': 15, 
    'yash': 2, 
    'suraj': 32
}

mykeys = list(myDict.keys())

mykeys.sort()

sorted_dict = { i: myDict[i] for i in mykeys}

print(sorted_dict)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [233]:
myDict = {'ravi': 10, 'rajnish': 9,
        'sanjeev': 15, 'yash': 2, 'suraj': 32}
 
myKeys = list(myDict.keys())
myKeys.sort()
sorted_dict = {i: myDict[i] for i in myKeys}
 
print(sorted_dict)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [234]:
# Handling missing keys in Python dictionaries

In [239]:
# Python dictionary with keys having multiple inputs


a = {
    ("19.07'53.2", "72.54'51.0"):"Mumbai",
    ("28.33'34.1", "77.06'16.6"):"Delhi"
}

#print(a)

b = []
c = []
d = []

for i in a:
    b.append(i[0])
    c.append(i[1])
    d.append(a[i[0] , i[1]])
    
    
print(b)
print(c)
print(d)

["19.07'53.2", "28.33'34.1"]
["72.54'51.0", "77.06'16.6"]
['Mumbai', 'Delhi']

In [3]:
# program to find the sum of all items in a dictionary

act = {
    "a": 100, 
    "b":200, 
    "c":300
}

def sum_dic(act):
    Sum = 0
    
    for i in act:
        Sum = Sum + act [i]
    return Sum
        
print("Sum: ", sum_dic(act))

Sum:  600

In [4]:
add = {
    "data": 200,
    "data1" : 100,
    "data3" : 200
}

def sum_add(add):
    a = 0
    for i in add:
        a = a + add[i]
    return a
print("Total :", sum_add(add))

Total : 500

In [7]:
# Ways to sort list of dictionaries by values in Python – Using itemgetter

myDict = {
    'ravi': 10, 
    'rajnish': 9,
    'sanjeev': 15, 
    'yash': 2, 
    'suraj': 32
}
 
myvalues = list(myDict.values())
myvalues.sort()

sorted_dict = { i: myDict[i] for i in myvalues}
 
print(sorted_dict)

KeyError: 2