In [3]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv("D:\\excel data\\deliveries.csv")

In [5]:
df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [6]:
df.isnull().sum()

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
is_super_over            0
wide_runs                0
bye_runs                 0
legbye_runs              0
noball_runs              0
penalty_runs             0
batsman_runs             0
extra_runs               0
total_runs               0
player_dismissed    170244
dismissal_kind      170244
fielder             172630
dtype: int64

In [15]:
df[df["non_striker"]== "S Dhawan"].value_counts()

match_id  inning  batting_team         bowling_team                 over  ball  batsman        non_striker  bowler       is_super_over  wide_runs  bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  total_runs  player_dismissed  dismissal_kind  fielder
1         1       Sunrisers Hyderabad  Royal Challengers Bangalore  2     5     DA Warner      S Dhawan     A Choudhary  0              0          0         0            0            0             0             0           0           DA Warner         caught          Mandeep Singh       1
551       1       Sunrisers Hyderabad  Chennai Super Kings          10    6     MC Henriques   S Dhawan     P Negi       0              0          0         0            0            0             0             0           0           MC Henriques      stumped         MS Dhoni            1
610       2       Sunrisers Hyderabad  Gujarat Lions                5     5     KS Williamson  S Dhawan     P Kumar      0              0          0         0            0            0             0             0           0           KS Williamson     caught          DR Smith            1
                                                                    4     1     DA Warner      S Dhawan     DS Kulkarni  0              0          0         0            0            0             0             0           0           DA Warner         caught          P Kumar             1
598       1       Sunrisers Hyderabad  Rising Pune Supergiants      20    4     B Kumar        S Dhawan     NLTC Perera  0              0          0         0            0            0             0             0           0           B Kumar           caught          F du Plessis        1
                                                                                                                                                                                                                                                                                                ..
331       1       Deccan Chargers      Delhi Daredevils             5     5     DJ Harris      S Dhawan     M Morkel     0              0          0         0            0            0             0             0           0           DJ Harris         caught          DPMD Jayawardene    1
328       1       Deccan Chargers      Rajasthan Royals             11    4     KC Sangakkara  S Dhawan     BJ Hodge     0              0          0         0            0            0             0             0           0           KC Sangakkara     caught          DH Yagnik           1
323       1       Deccan Chargers      Delhi Daredevils             3     2     KC Sangakkara  S Dhawan     M Morkel     0              0          0         0            0            0             0             0           0           KC Sangakkara     caught          Y Nagar             1
316       1       Deccan Chargers      Mumbai Indians               4     1     B Chipli       S Dhawan     MM Patel     0              0          0         0            0            0             0             0           0           B Chipli          caught          SL Malinga          1
11341     2       Delhi Capitals       Chennai Super Kings          1     5     P Shaw         S Dhawan     DL Chahar    0              0          0         0            0            0             0             0           0           P Shaw            caught          SK Raina            1
Name: count, Length: 108, dtype: int64