# List

In [283]:
# Python program to print all even numbers in a range


start_no =  int(input("enter the no: "))
end_no =  int(input("enter the no: "))
    
for i in range(start_no, end_no +1 ):
#     print(i)
    if i % 2 == 0:
        print(i)

enter the no: 4
enter the no: 13
4
6
8
10
12

In [281]:
for i in range(3,12):
    if i%2 ==0:
        print(i)

4
6
8
10

In [276]:
start = 4
end = 20

for i in range(start,end + 1):
    if i % 2 == 0:
        print(i, end = " ")

4 6 8 10 12 14 16 18 20

In [10]:
# Python program to print all odd numbers in a range

start = 4
end = 20

for i in range(start,end + 1):
    if i % 2 != 0:
        print(i,end = " ")

5 7 9 11 13 15 17 19

In [14]:
start_no: int(input("enter start no: "))
end_no: int(input("enter end no: "))
    
for i in range(start_no, end_no + 1):
    if i % 2 != 0:
        print(i,end = " ")

enter start no: 4
enter end no: 20
5 7 9 11 13 15 17 19

In [28]:
# Python program to count Even and Odd numbers in a List

list1 = [2, 7, 5, 64, 14]

even_no, odd_no = 0,0

for i in list1:
    if i % 2 == 0:
        even_no += 1
    else:
        odd_no += 1
        
print("even_no",even_no) 
print("odd_no",odd_no)

even_no 3
odd_no 2

In [29]:
lst = [10, 21, 4, 45, 66, 93, 1]

even_no,odd_no = 0,0

for i in lst:
    if i % 2 == 0:
        even_no += 1
    else:
        odd_no += 1
        
print("even_no: ", even_no)
print("odd_no: ",odd_no)

even_no:  3
odd_no:  4

In [37]:
# Python program to print positive numbers in a list

list1 = [12, -7, 5, 64, -14]

res = []

for i in list1:
    if i > 0:
        res.append(i)
print(res)

[12, 5, 64]

In [39]:
# Python program to print negative numbers in a list

list1 = [12, -7, 5, 64, -14]

res = []

for i in list1:
    if i < 0:
        res.append(i)
print(res)

[-7, -14]

In [45]:
# Python program to print all positive numbers in a range

start = -4
end = 5

for i in range(start,end + 1):
    if i >= 0:
        print(i ,end = " ")

0 1 2 3 4 5

In [56]:
start_no = int(input("enter no: "))
end_no = int(input("enter no: "))

for i in range(start_no,end_no + 1):
    if i >= 0:
        print(i,end = " ")

enter no: -4
enter no: 5
0 1 2 3 4 5

In [59]:
# Python program to print all negative numbers in a range

start = -10
end = 10

for i in range(start,end + 1):
    if i <= 0:
        print(i, end = " ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0

In [284]:
start_no = int(input("enter no: "))
end_no = int(input("enter no: "))

for i in range(start_no,end_no):
    if i < 0:
        print(i,end = " ")

enter no: 0
enter no: 12

In [285]:
# Python program to count positive and negative numbers in a list

list1 = [2, -7, 5, -64, -14, -12, 14, 95, 3]

positive_no,nagetive_no = 0,0

for i in list1:
    if i > 0:
        positive_no += 1
    else:
        nagetive_no += 1
print("positive_no: ", positive_no)
print("nagetive_no: ", nagetive_no)

positive_no:  5
nagetive_no:  4

In [299]:
# Remove multiple elements from a list in Python

lst = [12, 15, 3, 10]

new_list = []

result =  lst[::2]
print(result)

for i in lst:
    if i not in result:
        new_list.append(i)

print(new_list)

[12, 3]
[15, 10]

In [300]:
new_list = [i for i in lst if i not in result]
print(new_list)

[15, 10]

In [305]:
lst = [12,15,90,25]


remove_list = lst[::2]
print(remove_list)

new_list = []

for i in lst:
    if i not in remove_list:
        new_list.append(i)
        
print(new_list)

[12, 90]
[15, 25]

In [94]:
# Python | Remove empty tuples from a list

tuples = [(), ("ram","15","8"), (), ("laxman", "sita"), ("krishna", "akbar", "45"), (" "," "),()]

for i in tuples:
    if len(i)==0:
        tuples.remove(i)
print(tuples)

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), (' ', ' ')]

In [96]:
# Python | Program to print duplicates from a list of integers

lst = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]

x=[]
y = []

for i in lst:
    if i not in x:
        x.append(i)
print(x)

for i in x:
    if lst.count(i) > 1:
        y.append(i)
print(y)

[10, 20, 30, 40, 50, -20, 60]
[20, 30, -20, 60]

In [100]:
# Removing newline character from string in Python

test_list = ['gf\ng', 'i\ns', 'b\nest', 'fo\nr', 'geeks\n']
# print(test_list)

res = []

for i in test_list:
    res.append(i.replace("\n",""))
print(res)

['gfg', 'is', 'best', 'for', 'geeks']

In [105]:
# Python | Create list of numbers with given range

r1 = -1
r2 = 1

res = []

for i in range(r1,r2+1):
    print(i)
    res.append(i)
print(res)

-1
0
1
[-1, 0, 1]

In [113]:
# Python | Convert a string representation of list into list

ini_list = "[1, 2, 3, 4, 5]"

res = ini_list.strip("][").split(",")
print(res)

['1', ' 2', ' 3', ' 4', ' 5']

# Tuple

In [306]:
# Python | Removing duplicates from tuple

test_tup = (1, 3, 5, 2, 3, 5, 1, 1, 3)

result = set(test_tup)
print(result)
print(tuple(result))

{1, 2, 3, 5}
(1, 2, 3, 5)

In [136]:
# Python | Remove duplicate lists in tuples (Preserving Order)

test_tup = ([4, 7, 8], [1, 2, 3], [4, 7, 8], [9, 10, 11], [1, 2, 3])

r = str(test_tup)
print(r)

temp = set()

res = [ele for ele in test_tup if not(tuple(ele) in temp or temp.add(tuple(ele)))]
print(res)

([4, 7, 8], [1, 2, 3], [4, 7, 8], [9, 10, 11], [1, 2, 3])
[[4, 7, 8], [1, 2, 3], [9, 10, 11]]

In [137]:
test_tup = ([4, 7, 8], [1, 2, 3], [4, 7, 8], [9, 10, 11], [1, 2, 3])

res = []

for i in test_tup:
    if i not in res:
        res.append(i)
        
print(res)

[[4, 7, 8], [1, 2, 3], [9, 10, 11]]

In [145]:
# Python – Extract digits from Tuple list

test_list = [(15, 3), (3, 9)] 

x = "" 

for i in test_list:
    for j in i:
        x+= str(j)
print(x)

res = list(map(int,set(x)))
print(res)
print(sorted(res))

15339
[9, 5, 3, 1]
[1, 3, 5, 9]

In [152]:
test_list = [(15, 3)] 

y = " "

for i in test_list:
    for j in i:
        y+= str(j)
print(sorted(list(y)))

[' ', '1', '3', '5']

In [156]:
test_list = [(15, 3), (3, 9), (1, 10), (99, 2)]

x = ""

for i in test_list:
    for j in i:
        x+=str(j)
print(x)

res = list(map(int,set(x)))
print(res)
print(sorted(res))

15339110992
[5, 3, 1, 2, 0, 9]
[0, 1, 2, 3, 5, 9]

In [163]:
# Python – Cross Pairing in Tuple List

test_list1 = [(1, 7), (6, 7), (8, 100), (4, 21)]
test_list2 = [(1, 3), (2, 1), (9, 7), (2, 17)] 


for i in test_list1:
    for j in test_list2:
        if i[0] == j[0]:
            result = i[1],j[1]
            print(result)

(7, 3)

In [167]:
test_list1 = [(1, 7), (6, 7), (9, 100), (4, 21)]
test_list2 = [(1, 3), (2, 1), (9, 7), (2, 17)]

for i in test_list1:
    for j in test_list2:
        if i[0] == j[0]:
            result = i[1],j[1]
            print(result)

(7, 3)
(100, 7)

In [185]:
# Python – Consecutive Kth column Difference in Tuple List

#test_list = [(5, 4, 2), (1, 3, 4), (5, 7, 8), (7, 4, 3)]
test_list = [(5, 4, 2), (1, 3, 4), (5, 7, 8), (7, 4, 3)]


k = 2
res = []

for i in range(0,len(test_list)-1):
    res.append(abs(test_list[i][k]-test_list[i+1][k]))
    
print(res)

[2, 4, 5]

In [194]:
# Python – Flatten tuple of List to tuple

test_tuple = ([5], [6], [3], [8]) 

count = sum(test_tuple,[])
print(count)

print(tuple(count))

[5, 6, 3, 8]
(5, 6, 3, 8)

In [196]:
test_tuple = ([5, 6], [6, 7, 8, 9], [3])

count = sum(test_tuple,[])
print(count)

print(tuple(count))

[5, 6, 6, 7, 8, 9, 3]
(5, 6, 6, 7, 8, 9, 3)

In [208]:
# Python | Flatten Tuples List to String

test_list = [('1', '4', '6'), ('5', '8'), ('2', '9'), ('1', '10')]

count = sum(test_list,())
print(count)

result = int("".join(count))
print(result)

('1', '4', '6', '5', '8', '2', '9', '1', '10')
1465829110

In [209]:
# Python program to sort a list of tuples alphabetically

lst = [("Amana", 28), ("Zenat", 30), ("Abhishek", 29), ("Nikhil", 21), ("B", "C")]

re = sorted(lst)
print(re)

[('Abhishek', 29), ('Amana', 28), ('B', 'C'), ('Nikhil', 21), ('Zenat', 30)]

In [215]:
# Python – Combinations of sum with tuples in tuple list

test_list = [(2, 4), (6, 7), (5, 1), (6, 10)]

res = []

for i in range(len(test_list)):
    for j in range(i+1,len(test_list)):
        res.append((test_list[i][0]+test_list[j][0],test_list[i][1]+test_list[j][1]))
        
print(res)

[(8, 11), (7, 5), (8, 14), (11, 8), (12, 17), (11, 11)]

# String

In [217]:
# Python – Mirror Image of String

test_str = 'void'

mirror_dict = {'b': 'd', 'd': 'b', 'i': 'i', 'o': 'o', 'v': 'v', 'w': 'w', 'x': 'x'}

rev_str = test_str[::-1]
print(rev_str)

res = " "
for i in rev_str:
    if i in mirror_dict:
        res += mirror_dict[i]
    else:
        res = "Not Possible"
        break
mirror_str = res[::-1]
print(mirror_str)

diov
voib

In [228]:
# Python – Replace Different characters in String at Once

test_str = 'geeksforgeeks is best'
map_dict = {'e':'1', 'b':'6'} 

res =  " "
for i in test_str:
    if i not in map_dict:
        res += i
    else:
        res += map_dict[i]
        
print(res)

 g11ksforg11ks is 61st

In [232]:
# Python | Multiple indices Replace in String

test_str = "geeksforgeeks is best"

test_list = [2,4,7,10,14,17,20]
replace_char = "*"

lst = list(test_str)
print(lst)

for i in test_list:
    lst[i] = replace_char
    
res = " ".join(lst)
print(res)

['g', 'e', 'e', 'k', 's', 'f', 'o', 'r', 'g', 'e', 'e', 'k', 's', ' ', 'i', 's', ' ', 'b', 'e', 's', 't']
g e * k * f o * g e * k s   * s   * e s *

In [233]:
# Python – Ways to remove multiple empty spaces from string List

test_list = ['gfg', ' ', ' ', 'is', '         ', 'best']

res = []

for i in test_list:
    if i.strip():
        res.append(i)
        
print(res)

['gfg', 'is', 'best']

In [237]:
# Python | Remove punctuation from string

strs = "Gfg, is best, for , Geeks ."


result = ""
for char in strs:
    if char != ",":
        result += char
print(result)

Gfg is best for  Geeks .

In [243]:
test_str = "Gfg, is best : for ! Geeks ;"

punc = "!()-[]{};:',<>./?@#$%^&*_~"

res = " "
for i in test_str:
    if i not in punc:
        res += i
        
print(res)

 Gfg is best  for  Geeks

In [248]:
# Python – Similar characters Strings comparison

test_str1 = "e!e!k!s!g"
test_str2 = "g!e!e!k!s"
delim = '!' 

res = set(test_str1.split('!')) 
print(res)

res1 = set(test_str2.split('!'))
print(res1)

result = res ==res1
print(result)

{'g', 'e', 'k', 's'}
{'k', 'e', 'g', 's'}
True

# Dictionary

In [256]:
# Python | Merging two Dictionaries

dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}

dict2.update(dict1)
print(dict2)

{'d': 6, 'c': 4, 'a': 10, 'b': 8}

In [260]:
# Find common elements in three sorted arrays by dictionary intersection

from collections import OrderedDict

ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]


dict1 = OrderedDict.fromkeys(ar1)
dict2 = OrderedDict.fromkeys(ar2)
dict3 = OrderedDict.fromkeys(ar3)


lst = []

for values1, keys1 in dict1.items():
    for values2, keys2 in dict2.items():
        for values3, keys3 in dict3.items():
            if values1 == values2 == values3:
                lst.append(values1)
                
print(lst)

[20, 80]

In [268]:
# Python – Key with maximum unique values

test_dict = {
    "Gfg" : [5, 7, 9, 4, 0], 
    "is" : [6, 7, 4, 3, 3], 
    "Best" : [9, 9, 6, 5, 5]
} 

max_val = 0
max_key = None

for i in test_dict:
    if len(set(test_dict[i])) > max_val:
        max_val = len(set(test_dict[i]))
        max_key = i
print(max_key)

Gfg