In [2]:
# import some useful library

import numpy as np
import pandas as pd

In [5]:
# read file

df = pd.read_csv("D:\\excel data\\countryContinent.csv", encoding='latin-1')

In [6]:
# all the data load in file

df

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0
...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0

In [9]:
# dataframe in shape
df.shape

(249, 9)

In [10]:
#dataframe types
df.dtypes

country             object
code_2              object
code_3              object
country_code         int64
iso_3166_2          object
continent           object
sub_region          object
region_code        float64
sub_region_code    float64
dtype: object

In [11]:
#dataframe index
df.index

RangeIndex(start=0, stop=249, step=1)

In [12]:
#dataframe in columns
df.columns

Index(['country', 'code_2', 'code_3', 'country_code', 'iso_3166_2',
       'continent', 'sub_region', 'region_code', 'sub_region_code'],
      dtype='object')

In [30]:
#dataframe in top data load using head()
df.head(2)

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0

In [14]:
#dataframe in last data load using tail()
df.tail(5)

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0

In [15]:
#dataframe all information using info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          249 non-null    object
 1   code_2           248 non-null    object
 2   code_3           249 non-null    object
 3   country_code     249 non-null    int64
 4   iso_3166_2       249 non-null    object
 5   continent        240 non-null    object
 6   sub_region       240 non-null    object
 7   region_code      240 non-null    float64
 8   sub_region_code  240 non-null    float64
dtypes: float64(2), int64(1), object(6)
memory usage: 17.6+ KB

In [16]:
#dataframe in all numeric columns describe using describe()
df.describe()

       country_code  region_code  sub_region_code
count    249.000000   240.000000        240.00000
mean     433.835341    67.825000         56.63750
std      252.980446    67.654075         54.58537
min        4.000000     2.000000          5.00000
25%      218.000000     9.000000         15.00000
50%      434.000000    19.000000         30.00000
75%      652.000000   142.000000         61.00000
max      894.000000   150.000000        155.00000

In [17]:
#dataframe value find using value
df.values

array([['Afghanistan', 'AF', 'AFG', ..., 'Southern Asia', 142.0, 34.0],
       ['Åland Islands', 'AX', 'ALA', ..., 'Northern Europe', 150.0,
        154.0],
       ['Albania', 'AL', 'ALB', ..., 'Southern Europe', 150.0, 39.0],
       ...,
       ['Yemen', 'YE', 'YEM', ..., 'Western Asia', 142.0, 145.0],
       ['Zambia', 'ZM', 'ZMB', ..., 'Eastern Africa', 2.0, 14.0],
       ['Zimbabwe', 'ZW', 'ZWE', ..., 'Eastern Africa', 2.0, 14.0]],
      dtype=object)

In [19]:
df.sample(5)

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
165,Norway,NO,NOR,578,ISO 3166-2:NO,Europe,Northern Europe,150.0,154.0
213,Swaziland,SZ,SWZ,748,ISO 3166-2:SZ,Africa,Southern Africa,2.0,18.0
16,Bahamas,BS,BHS,44,ISO 3166-2:BS,Americas,Caribbean,19.0,29.0
242,Virgin Islands (British),VG,VGB,92,ISO 3166-2:VG,Americas,Caribbean,19.0,29.0
7,Anguilla,AI,AIA,660,ISO 3166-2:AI,Americas,Caribbean,19.0,29.0

In [20]:
#dataframe in null value or not is find using isnull()
df.isnull().sum()

country            0
code_2             1
code_3             0
country_code       0
iso_3166_2         0
continent          9
sub_region         9
region_code        9
sub_region_code    9
dtype: int64

In [22]:
#dataframe in duplicate value exist or not using duplicated()
df.duplicated().sum()

0

In [24]:
#dataframe in null value or not is find using notnull()
df.notnull().sum()

country            249
code_2             248
code_3             249
country_code       249
iso_3166_2         249
continent          240
sub_region         240
region_code        240
sub_region_code    240
dtype: int64

In [25]:
#dataframe in rename column name using rename()
df.rename(columns={"country":"country_name"})

,country_name,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0
...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0

In [26]:
#dataframe in single column data load
df["country"]

0            Afghanistan
1          Åland Islands
2                Albania
3                Algeria
4         American Samoa
             ...
244    Wallis and Futuna
245       Western Sahara
246                Yemen
247               Zambia
248             Zimbabwe
Name: country, Length: 249, dtype: object

In [29]:
#dataframe in multipal column data load
df[["country","country_code","sub_region"]]

               country  country_code       sub_region
0          Afghanistan             4    Southern Asia
1        Åland Islands           248  Northern Europe
2              Albania             8  Southern Europe
3              Algeria            12  Northern Africa
4       American Samoa            16        Polynesia
..                 ...           ...              ...
244  Wallis and Futuna           876        Polynesia
245     Western Sahara           732  Northern Africa
246              Yemen           887     Western Asia
247             Zambia           894   Eastern Africa
248           Zimbabwe           716   Eastern Africa

[249 rows x 3 columns]

In [31]:
# single row fetch using iloc
df.iloc[0]

country              Afghanistan
code_2                        AF
code_3                       AFG
country_code                   4
iso_3166_2         ISO 3166-2:AF
continent                   Asia
sub_region         Southern Asia
region_code                142.0
sub_region_code             34.0
Name: 0, dtype: object

In [32]:
# multipal row fetch using iloc
df.iloc[0:4]

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0

In [34]:
#fancy indexing
df.iloc[[0,4,9]]

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0
9,Antigua and Barbuda,AG,ATG,28,ISO 3166-2:AG,Americas,Caribbean,19.0,29.0

In [41]:
df.set_index("country",inplace=True)

In [44]:
df.reset_index("country",inplace=True)

In [42]:
#single row data detch (label) using loc
df.loc["Algeria"]

code_2                          DZ
code_3                         DZA
country_code                    12
iso_3166_2           ISO 3166-2:DZ
continent                   Africa
sub_region         Northern Africa
region_code                    2.0
sub_region_code               15.0
Name: Algeria, dtype: object

In [52]:
#select row and column both data fetch
df.iloc[0:4,0:7]

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa

In [54]:
# filtering data
# find out in data how many continent in asia and sub_region southern asia
mask = df["continent"] == "Asia"
df[mask]

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
11,Armenia,AM,ARM,51,ISO 3166-2:AM,Asia,Western Asia,142.0,145.0
15,Azerbaijan,AZ,AZE,31,ISO 3166-2:AZ,Asia,Western Asia,142.0,145.0
17,Bahrain,BH,BHR,48,ISO 3166-2:BH,Asia,Western Asia,142.0,145.0
18,Bangladesh,BD,BGD,50,ISO 3166-2:BD,Asia,Southern Asia,142.0,34.0
25,Bhutan,BT,BTN,64,ISO 3166-2:BT,Asia,Southern Asia,142.0,34.0
33,Brunei Darussalam,BN,BRN,96,ISO 3166-2:BN,Asia,South-Eastern Asia,142.0,35.0
37,Cambodia,KH,KHM,116,ISO 3166-2:KH,Asia,South-Eastern Asia,142.0,35.0
45,China,CN,CHN,156,ISO 3166-2:CN,Asia,Eastern Asia,142.0,30.0
58,Cyprus,CY,CYP,196,ISO 3166-2:CY,Asia,Western Asia,142.0,145.0
81,Georgia,GE,GEO,268,ISO 3166-2:GE,Asia,Western Asia,142.0,145.0
99,Hong Kong,HK,HKG,344,ISO 3166-2:HK,Asia,Eastern Asia,142.0,30.0
102,India,IN,IND,356,ISO 3166-2:IN,Asia,Southern Asia,142.0,34.0
103,Indonesia,ID,IDN,360,ISO 3166-2:ID,Asia,South-Eastern Asia,142.0,35.0
104,Iran (Islamic Republic of),IR,IRN,364,ISO 3166-2:IR,Asia,Southern Asia,142.0,34.0
105,Iraq,IQ,IRQ,368,ISO 3166-2:IQ,Asia,Western Asia,142.0,145.0
108,Israel,IL,ISR,376,ISO 3166-2:IL,Asia,Western Asia,142.0,145.0
111,Japan,JP,JPN,392,ISO 3166-2:JP,Asia,Eastern Asia,142.0,30.0
113,Jordan,JO,JOR,400,ISO 3166-2:JO,Asia,Western Asia,142.0,145.0
114,Kazakhstan,KZ,KAZ,398,ISO 3166-2:KZ,Asia,Central Asia,142.0,143.0
117,Korea (Democratic People's Republic of),KP,PRK,408,ISO 3166-2:KP,Asia,Eastern Asia,142.0,30.0
118,Korea (Republic of),KR,KOR,410,ISO 3166-2:KR,Asia,Eastern Asia,142.0,30.0
119,Kuwait,KW,KWT,414,ISO 3166-2:KW,Asia,Western Asia,142.0,145.0
120,Kyrgyzstan,KG,KGZ,417,ISO 3166-2:KG,Asia,Central Asia,142.0,143.0
121,Lao People's Democratic Republic,LA,LAO,418,ISO 3166-2:LA,Asia,South-Eastern Asia,142.0,35.0
123,Lebanon,LB,LBN,422,ISO 3166-2:LB,Asia,Western Asia,142.0,145.0
130,Macao,MO,MAC,446,ISO 3166-2:MO,Asia,Eastern Asia,142.0,30.0
134,Malaysia,MY,MYS,458,ISO 3166-2:MY,Asia,South-Eastern Asia,142.0,35.0
135,Maldives,MV,MDV,462,ISO 3166-2:MV,Asia,Southern Asia,142.0,34.0
147,Mongolia,MN,MNG,496,ISO 3166-2:MN,Asia,Eastern Asia,142.0,30.0
152,Myanmar,MM,MMR,104,ISO 3166-2:MM,Asia,South-Eastern Asia,142.0,35.0
155,Nepal,NP,NPL,524,ISO 3166-2:NP,Asia,Southern Asia,142.0,34.0
166,Oman,OM,OMN,512,ISO 3166-2:OM,Asia,Western Asia,142.0,145.0
167,Pakistan,PK,PAK,586,ISO 3166-2:PK,Asia,Southern Asia,142.0,34.0
169,"Palestine, State of",PS,PSE,275,ISO 3166-2:PS,Asia,Western Asia,142.0,145.0
174,Philippines,PH,PHL,608,ISO 3166-2:PH,Asia,South-Eastern Asia,142.0,35.0
179,Qatar,QA,QAT,634,ISO 3166-2:QA,Asia,Western Asia,142.0,145.0
194,Saudi Arabia,SA,SAU,682,ISO 3166-2:SA,Asia,Western Asia,142.0,145.0
199,Singapore,SG,SGP,702,ISO 3166-2:SG,Asia,South-Eastern Asia,142.0,35.0
209,Sri Lanka,LK,LKA,144,ISO 3166-2:LK,Asia,Southern Asia,142.0,34.0
216,Syrian Arab Republic,SY,SYR,760,ISO 3166-2:SY,Asia,Western Asia,142.0,145.0
217,"Taiwan, Province of China",TW,TWN,158,ISO 3166-2:TW,Asia,Eastern Asia,142.0,30.0
218,Tajikistan,TJ,TJK,762,ISO 3166-2:TJ,Asia,Central Asia,142.0,143.0
220,Thailand,TH,THA,764,ISO 3166-2:TH,Asia,South-Eastern Asia,142.0,35.0
221,Timor-Leste,TL,TLS,626,ISO 3166-2:TL,Asia,South-Eastern Asia,142.0,35.0
227,Turkey,TR,TUR,792,ISO 3166-2:TR,Asia,Western Asia,142.0,145.0
228,Turkmenistan,TM,TKM,795,ISO 3166-2:TM,Asia,Central Asia,142.0,143.0
233,United Arab Emirates,AE,ARE,784,ISO 3166-2:AE,Asia,Western Asia,142.0,145.0
238,Uzbekistan,UZ,UZB,860,ISO 3166-2:UZ,Asia,Central Asia,142.0,143.0
241,Viet Nam,VN,VNM,704,ISO 3166-2:VN,Asia,South-Eastern Asia,142.0,35.0
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0

In [56]:
new_df = df[mask]
new_df[["continent","sub_region"]]

    continent          sub_region
0        Asia       Southern Asia
11       Asia        Western Asia
15       Asia        Western Asia
17       Asia        Western Asia
18       Asia       Southern Asia
25       Asia       Southern Asia
33       Asia  South-Eastern Asia
37       Asia  South-Eastern Asia
45       Asia        Eastern Asia
58       Asia        Western Asia
81       Asia        Western Asia
99       Asia        Eastern Asia
102      Asia       Southern Asia
103      Asia  South-Eastern Asia
104      Asia       Southern Asia
105      Asia        Western Asia
108      Asia        Western Asia
111      Asia        Eastern Asia
113      Asia        Western Asia
114      Asia        Central Asia
117      Asia        Eastern Asia
118      Asia        Eastern Asia
119      Asia        Western Asia
120      Asia        Central Asia
121      Asia  South-Eastern Asia
123      Asia        Western Asia
130      Asia        Eastern Asia
134      Asia  South-Eastern Asia
135      Asia       Southern Asia
147      Asia        Eastern Asia
152      Asia  South-Eastern Asia
155      Asia       Southern Asia
166      Asia        Western Asia
167      Asia       Southern Asia
169      Asia        Western Asia
174      Asia  South-Eastern Asia
179      Asia        Western Asia
194      Asia        Western Asia
199      Asia  South-Eastern Asia
209      Asia       Southern Asia
216      Asia        Western Asia
217      Asia        Eastern Asia
218      Asia        Central Asia
220      Asia  South-Eastern Asia
221      Asia  South-Eastern Asia
227      Asia        Western Asia
228      Asia        Central Asia
233      Asia        Western Asia
238      Asia        Central Asia
241      Asia  South-Eastern Asia
246      Asia        Western Asia

In [57]:
df[df["continent"] == "Asia"][["continent","sub_region"]]

    continent          sub_region
0        Asia       Southern Asia
11       Asia        Western Asia
15       Asia        Western Asia
17       Asia        Western Asia
18       Asia       Southern Asia
25       Asia       Southern Asia
33       Asia  South-Eastern Asia
37       Asia  South-Eastern Asia
45       Asia        Eastern Asia
58       Asia        Western Asia
81       Asia        Western Asia
99       Asia        Eastern Asia
102      Asia       Southern Asia
103      Asia  South-Eastern Asia
104      Asia       Southern Asia
105      Asia        Western Asia
108      Asia        Western Asia
111      Asia        Eastern Asia
113      Asia        Western Asia
114      Asia        Central Asia
117      Asia        Eastern Asia
118      Asia        Eastern Asia
119      Asia        Western Asia
120      Asia        Central Asia
121      Asia  South-Eastern Asia
123      Asia        Western Asia
130      Asia        Eastern Asia
134      Asia  South-Eastern Asia
135      Asia       Southern Asia
147      Asia        Eastern Asia
152      Asia  South-Eastern Asia
155      Asia       Southern Asia
166      Asia        Western Asia
167      Asia       Southern Asia
169      Asia        Western Asia
174      Asia  South-Eastern Asia
179      Asia        Western Asia
194      Asia        Western Asia
199      Asia  South-Eastern Asia
209      Asia       Southern Asia
216      Asia        Western Asia
217      Asia        Eastern Asia
218      Asia        Central Asia
220      Asia  South-Eastern Asia
221      Asia  South-Eastern Asia
227      Asia        Western Asia
228      Asia        Central Asia
233      Asia        Western Asia
238      Asia        Central Asia
241      Asia  South-Eastern Asia
246      Asia        Western Asia

In [58]:
df

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0
...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0

In [63]:
#how to find sub region in southern asia

df[df["sub_region"] == "Southern Asia"]

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
18,Bangladesh,BD,BGD,50,ISO 3166-2:BD,Asia,Southern Asia,142.0,34.0
25,Bhutan,BT,BTN,64,ISO 3166-2:BT,Asia,Southern Asia,142.0,34.0
102,India,IN,IND,356,ISO 3166-2:IN,Asia,Southern Asia,142.0,34.0
104,Iran (Islamic Republic of),IR,IRN,364,ISO 3166-2:IR,Asia,Southern Asia,142.0,34.0
135,Maldives,MV,MDV,462,ISO 3166-2:MV,Asia,Southern Asia,142.0,34.0
155,Nepal,NP,NPL,524,ISO 3166-2:NP,Asia,Southern Asia,142.0,34.0
167,Pakistan,PK,PAK,586,ISO 3166-2:PK,Asia,Southern Asia,142.0,34.0
209,Sri Lanka,LK,LKA,144,ISO 3166-2:LK,Asia,Southern Asia,142.0,34.0

In [62]:
df[df["sub_region"] == "Southern Asia"].shape

(9, 9)

In [68]:
df["iso_3166_2"].str.split(":")

0      [ISO 3166-2, AF]
1      [ISO 3166-2, AX]
2      [ISO 3166-2, AL]
3      [ISO 3166-2, DZ]
4      [ISO 3166-2, AS]
             ...
244    [ISO 3166-2, WF]
245    [ISO 3166-2, EH]
246    [ISO 3166-2, YE]
247    [ISO 3166-2, ZM]
248    [ISO 3166-2, ZW]
Name: iso_3166_2, Length: 249, dtype: object

In [71]:
# how to add new columns

df["country_name"] = "Yurope"

In [72]:
df

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code,country_name
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0,Yurope
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0,Yurope
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0,Yurope
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0,Yurope
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0,Yurope
...,...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0,Yurope
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0,Yurope
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0,Yurope
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0,Yurope
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0,Yurope

In [81]:
df.fillna("sub_region") == "Eastern Africa"

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code,country_name
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
244,False,False,False,False,False,False,False,False,False,False
245,False,False,False,False,False,False,False,False,False,False
246,False,False,False,False,False,False,False,False,False,False
247,False,False,False,False,False,False,True,False,False,False
248,False,False,False,False,False,False,True,False,False,False

In [82]:
df

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code,country_name
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0,Yurope
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0,Yurope
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0,Yurope
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0,Yurope
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0,Yurope
...,...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0,Yurope
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0,Yurope
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0,Yurope
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0,Yurope
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0,Yurope

In [83]:
df.isnull().sum()

country            0
code_2             1
code_3             0
country_code       0
iso_3166_2         0
continent          9
sub_region         9
region_code        9
sub_region_code    9
country_name       0
dtype: int64

In [85]:
df.dropna(inplace=True)

In [89]:
df["sub_region1"] = df["sub_region"].str.split(" ").apply(lambda x : x[0])

In [88]:
df

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code,country_name,sub_region1
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0,Yurope,Southern
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0,Yurope,Northern
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0,Yurope,Southern
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0,Yurope,Northern
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0,Yurope,Polynesia
...,...,...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0,Yurope,Polynesia
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0,Yurope,Northern
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0,Yurope,Western
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0,Yurope,Eastern
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0,Yurope,Eastern

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 239 entries, 0 to 248
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          239 non-null    object
 1   code_2           239 non-null    object
 2   code_3           239 non-null    object
 3   country_code     239 non-null    int64
 4   iso_3166_2       239 non-null    object
 5   continent        239 non-null    object
 6   sub_region       239 non-null    object
 7   region_code      239 non-null    float64
 8   sub_region_code  239 non-null    float64
 9   country_name     239 non-null    object
 10  sub_region1      239 non-null    object
dtypes: float64(2), int64(1), object(8)
memory usage: 22.4+ KB

In [93]:
df["country_code"] = df["country_code"].astype("Int32")

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 239 entries, 0 to 248
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          239 non-null    object
 1   code_2           239 non-null    object
 2   code_3           239 non-null    object
 3   country_code     239 non-null    Int32
 4   iso_3166_2       239 non-null    object
 5   continent        239 non-null    object
 6   sub_region       239 non-null    object
 7   region_code      239 non-null    float64
 8   sub_region_code  239 non-null    float64
 9   country_name     239 non-null    object
 10  sub_region1      239 non-null    object
dtypes: Int32(1), float64(2), object(8)
memory usage: 21.7+ KB

In [95]:
df["continent"].value_counts()

continent
Africa      57
Americas    55
Asia        51
Europe      51
Oceania     25
Name: count, dtype: int64

In [96]:
df["country"].value_counts()

country
Afghanistan      1
Paraguay         1
Niger            1
Nigeria          1
Niue             1
                ..
Guatemala        1
Guernsey         1
Guinea           1
Guinea-Bissau    1
Zimbabwe         1
Name: count, Length: 239, dtype: int64

In [98]:
df.sort_values("country")

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code,country_name,sub_region1
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0,Yurope,Southern
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0,Yurope,Southern
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0,Yurope,Northern
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0,Yurope,Polynesia
5,Andorra,AD,AND,20,ISO 3166-2:AD,Europe,Southern Europe,150.0,39.0,Yurope,Southern
...,...,...,...,...,...,...,...,...,...,...,...
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0,Yurope,Northern
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0,Yurope,Western
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0,Yurope,Eastern
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0,Yurope,Eastern
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0,Yurope,Northern

In [99]:
df.sort_values("continent")

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code,country_name,sub_region1
126,Libya,LY,LBY,434,ISO 3166-2:LY,Africa,Northern Africa,2.0,15.0,Yurope,Northern
140,Mauritania,MR,MRT,478,ISO 3166-2:MR,Africa,Western Africa,2.0,11.0,Yurope,Western
136,Mali,ML,MLI,466,ISO 3166-2:ML,Africa,Western Africa,2.0,11.0,Yurope,Western
133,Malawi,MW,MWI,454,ISO 3166-2:MW,Africa,Eastern Africa,2.0,14.0,Yurope,Eastern
132,Madagascar,MG,MDG,450,ISO 3166-2:MG,Africa,Eastern Africa,2.0,14.0,Yurope,Eastern
...,...,...,...,...,...,...,...,...,...,...,...
73,Fiji,FJ,FJI,242,ISO 3166-2:FJ,Oceania,Melanesia,9.0,54.0,Yurope,Melanesia
203,Solomon Islands,SB,SLB,90,ISO 3166-2:SB,Oceania,Melanesia,9.0,54.0,Yurope,Melanesia
191,Samoa,WS,WSM,882,ISO 3166-2:WS,Oceania,Polynesia,9.0,61.0,Yurope,Polynesia
164,Northern Mariana Islands,MP,MNP,580,ISO 3166-2:MP,Oceania,Micronesia,9.0,57.0,Yurope,Micronesia
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0,Yurope,Polynesia

In [101]:
df.sort_values(["continent","country"])

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code,country_name,sub_region1
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0,Yurope,Northern
6,Angola,AO,AGO,24,ISO 3166-2:AO,Africa,Middle Africa,2.0,17.0,Yurope,Middle
23,Benin,BJ,BEN,204,ISO 3166-2:BJ,Africa,Western Africa,2.0,11.0,Yurope,Western
29,Botswana,BW,BWA,72,ISO 3166-2:BW,Africa,Southern Africa,2.0,18.0,Yurope,Southern
35,Burkina Faso,BF,BFA,854,ISO 3166-2:BF,Africa,Western Africa,2.0,11.0,Yurope,Western
...,...,...,...,...,...,...,...,...,...,...,...
223,Tokelau,TK,TKL,772,ISO 3166-2:TK,Oceania,Polynesia,9.0,61.0,Yurope,Polynesia
224,Tonga,TO,TON,776,ISO 3166-2:TO,Oceania,Polynesia,9.0,61.0,Yurope,Polynesia
230,Tuvalu,TV,TUV,798,ISO 3166-2:TV,Oceania,Polynesia,9.0,61.0,Yurope,Polynesia
239,Vanuatu,VU,VUT,548,ISO 3166-2:VU,Oceania,Melanesia,9.0,54.0,Yurope,Melanesia
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0,Yurope,Polynesia

In [102]:
df.sort_index(ascending=False)

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code,country_name,sub_region1
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0,Yurope,Eastern
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0,Yurope,Eastern
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0,Yurope,Western
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0,Yurope,Northern
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0,Yurope,Polynesia
...,...,...,...,...,...,...,...,...,...,...,...
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0,Yurope,Polynesia
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0,Yurope,Northern
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0,Yurope,Southern
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0,Yurope,Northern
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0,Yurope,Southern

In [104]:
df.set_index("country",inplace=True)

In [105]:
df

,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code,country_name,sub_region1
country,,,,,,,,,,
Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0,Yurope,Southern
Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0,Yurope,Northern
Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0,Yurope,Southern
Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0,Yurope,Northern
American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0,Yurope,Polynesia
...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0,Yurope,Polynesia
Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0,Yurope,Northern
Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0,Yurope,Western
Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0,Yurope,Eastern
Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0,Yurope,Eastern

In [107]:
df.reset_index(inplace=True)

In [108]:
df

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code,country_name,sub_region1
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0,Yurope,Southern
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0,Yurope,Northern
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0,Yurope,Southern
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0,Yurope,Northern
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0,Yurope,Polynesia
...,...,...,...,...,...,...,...,...,...,...,...
234,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0,Yurope,Polynesia
235,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0,Yurope,Northern
236,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0,Yurope,Western
237,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0,Yurope,Eastern
238,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0,Yurope,Eastern

In [113]:
df.index = range(1001,1240, 1)

In [114]:
df

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code,country_name,sub_region1
1001,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0,Yurope,Southern
1002,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0,Yurope,Northern
1003,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0,Yurope,Southern
1004,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0,Yurope,Northern
1005,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0,Yurope,Polynesia
...,...,...,...,...,...,...,...,...,...,...,...
1235,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0,Yurope,Polynesia
1236,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0,Yurope,Northern
1237,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0,Yurope,Western
1238,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0,Yurope,Eastern
1239,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0,Yurope,Eastern

In [115]:
df["region_code"].unique()

array([142., 150.,   2.,   9.,  19.])

In [117]:
temp = pd.Series([0,0,11,11,1,2,3,5,6,1,0,2,3,4,6,2,3,6,5,35])

In [119]:
print(temp)

0      0
1      0
2     11
3     11
4      1
5      2
6      3
7      5
8      6
9      1
10     0
11     2
12     3
13     4
14     6
15     2
16     3
17     6
18     5
19    35
dtype: int64

In [121]:
temp.duplicated().sum()

11

In [124]:
temp.drop_duplicates(inplace=True)

In [125]:
temp

0      0
2     11
4      1
5      2
6      3
7      5
8      6
13     4
19    35
dtype: int64