In [5]:
list1 = [[1, 2], [3, 4], [5, 6]]
list2 = [[3, 4], [5, 7], [1, 2]]

new_list = []

for i in list1:
    if i not in list2:
        new_list.append(i)
        
for i in list2:
    if i not in list1:
        new_list.append(i)

print(new_list)

[[5, 6], [5, 7]]

In [11]:
list1 = ["chair","banana","furniture","monkey","masala"]
list2 = ["banana","apple","monkey","chair","glass"]
list3 = ["mobile","masala","chair","furniture","masala"]

result = []

for i in list1:
    if i not in list2:
        result.append(i)
for i in list2:
    if i not in list1:
        result.append(i)
for i in list3:
    if i not in list1:
        result.append(i)

print(result)

['furniture', 'masala', 'apple', 'glass', 'mobile']

In [13]:
for i in list3:
    if i not in list2:
        result.append(i)
print(result)

['furniture', 'masala', 'apple', 'glass', 'mobile', 'mobile', 'masala', 'furniture', 'masala', 'mobile', 'masala', 'furniture', 'masala']

In [22]:
list1 = [10,20,2,3]

def swaplist(list1):
    size = len(list1)
    
    temp = list1[0]
    list1[0] = list1[size-1]
    list1[size-1] = temp
    
    return list1

print(swaplist(list1))

[3, 20, 2, 10]

In [24]:
list1 = [10,20,30,50,6]

size = len(list1)

temp = list1[0]
list1[0] = list1[2]
list1[2] = temp

print(list1)

[30, 20, 10, 50, 6]

In [25]:
list1 = [10,20,30,50,6]

lengh = len(list1)
print(lengh)

5

In [26]:
lengh = sum(list1)
print(lengh)

116

In [27]:
list1 = [10,20,30,50,6]

maximum = max(list1)
print(maximum)

50

In [28]:
minimum  = min(list1)
print(minimum)

6

In [30]:
list1 = [10,20,30,50,6]

if 96 in list1:
    print("valid list")
else:
    print("not valid list")

not valid list

In [32]:
list1 = [10,20,30,50,6]
print("original list: ", list1)

result = list1.clear()
print("after clear list: ", result)

original list:  [10, 20, 30, 50, 6]
after clear list:  None

In [44]:
list1 = [4, 5, 6, 7, 8, 9]

list1.reverse()
print(list1)

[9, 8, 7, 6, 5, 4]

In [45]:
result = list1[:]
print(result)

[9, 8, 7, 6, 5, 4]

In [46]:
list1 = [4, 5, 6, 7, 8, 9]

result = list1[::-1]
print(result)

[9, 8, 7, 6, 5, 4]

In [50]:
list1 = [4, 5, 6, 7, 8, 9]

list2 = list1.copy()
print(list2)

[4, 5, 6, 7, 8, 9]

In [55]:
list1 = [4, 5, 6, 7, 8, 9]

remove_list = [4,7]

for i in list1:
    if i not in remove_list:
        print(i)

5
6
8
9

In [60]:
user = int(input("enter the no: "))
list1 = []

for i in range(0,user):
    list1.append(i)
print(list1)

enter the no: 5
[0, 1, 2, 3, 4]

In [66]:
user = int(input("enter the no: "))
list1 = []

for i in range(0,user):
    no = int(input())
    list1.append(no)
    
print(list1)

enter the no: 3
25
288
21
[25, 288, 21]

In [68]:
list1 = [4, 5, 6, 7, 8, 9]
print("original list:",list1)

mytuple = tuple(list1)
print("list convert in to tuple:",mytuple)

original list: [4, 5, 6, 7, 8, 9]
list convert in to tuple: (4, 5, 6, 7, 8, 9)

In [71]:
list1 = [4, 5, 6, 7, 8, 9]
print("original list:",list1)

string = str(list1)
print("list convert in to string:",string)

original list: [4, 5, 6, 7, 8, 9]
list convert in to string: [4, 5, 6, 7, 8, 9]

In [75]:
list1 = [4, 5, 6, 7, 8, 9]

result = list(map(float, list1))
result = list(map(int, list1))
result = list(map(complex, list1))
result

[(4+0j), (5+0j), (6+0j), (7+0j), (8+0j), (9+0j)]

In [82]:
list1 = [1,2,3]
list2 = [4,5,6]

for i in list2:
    list1.append(i)
    #print(list1)

print(list1)

[1, 2, 3, 4, 5, 6]

In [83]:
list3 = list1 + list2
list3

[1, 2, 3, 4, 5, 6, 4, 5, 6]

In [86]:
list1 = [1,2,3]

result = list1 * 2
result

[1, 2, 3, 1, 2, 3]

In [87]:
list1 = [1, 2, 3, 1, 2, 3,4,5,6,1,2,6,9,3,4,6]

result = list(set(list1))
result

[1, 2, 3, 4, 5, 6, 9]

In [88]:
string = "my name is komal komal name kesha mmmmmmm "

result = str(set(string))
result

"{'a', 'm', ' ', 'k', 'l', 'e', 's', 'o', 'i', 'y', 'n', 'h'}"

In [90]:
string = "my name is komal komal name kesha mmmmmmm "

result = list(string)
print(result)

['m', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'k', 'o', 'm', 'a', 'l', ' ', 'k', 'o', 'm', 'a', 'l', ' ', 'n', 'a', 'm', 'e', ' ', 'k', 'e', 's', 'h', 'a', ' ', 'm', 'm', 'm', 'm', 'm', 'm', 'm', ' ']

In [101]:
list1 = [4, 5, 1, 2]

s = sum(list1)
print(s)

avrage = s/len(list1)
print(int(avrage))

12
3

In [110]:
test_list = [1, 5, 6, 7, 4]

result = test_list[0]
result1 = test_list[-1]
print(result)
print(result1)

lst = []
lst.append(result)
lst.append(result1)
print(lst)

1
4
[1, 4]

In [113]:
test_list = [1, 5, 6, 7, 4]

test_list.remove(1)
test_list

[5, 6, 7, 4]

In [114]:
test_list = [1, 5, 6, 7, 4,5,5,5]

test_list.count(5)

4

In [117]:
lst1 = [15, 9, 10, 56, 23, 78, 5, 4, 9]
lst2 = [9, 4, 5, 36, 47, 26, 10, 45, 87]

result = list(set(lst1) & set(lst2))
result

[9, 10, 4, 5]

In [122]:
for i in lst1:
    if i in lst2:
        print(i)

9
10
5
4
9

In [131]:
test_list = ['gf\ng', 'i\ns', 'b\nest', 'fo\nr', 'geeks\n']
result = []

for i in test_list:
    result.append(i.replace('\n',''))
    
print(result)

['gfg', 'is', 'best', 'for', 'geeks']

In [133]:
result = list(range(0,25))
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [134]:
test_list = [1, None, 4, None, None, 5, 8, None]

test_list.remove(None)
test_list

[1, 4, None, None, 5, 8, None]

In [141]:
for i in test_list:
    if i is not None:
        print(i)

1
4
5
8

In [148]:
inpu = ['g', 'e', 'e', 'k', 's', 'f', 'o', 'r', 'g', 'e', 'e', 'k', 's']
result = ' '.join(inpu)
print(result)

g e e k s f o r g e e k s

In [151]:
import random

In [153]:
list1 = [2, 3, 4 , 5, 6 ]
random.choice(list1)

6