In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("D:\\excel data\\youtubedata.csv",encoding='unicode_escape')

In [5]:
df.head()

,rank,Youtuber,category,Title,uploads,Country,Abbreviation,channel_type,video_views_rank,country_rank,...,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Unemployment rate
0,1,T-Series,Music,T-Series,20082,India,IN,Music,1.0,1.0,...,564600.0,9000000.00,6800000.00,1.084000e+08,2000000.0,2006.0,Mar,13.0,28.1,5.36
1,2,YouTube Movies,Film & Animation,youtubemovies,1,United States,US,Games,4055159.0,7670.0,...,0.0,0.05,0.04,5.800000e-01,NaN,2006.0,Mar,5.0,88.2,14.70
2,3,MrBeast,Entertainment,MrBeast,741,United States,US,Entertainment,48.0,1.0,...,337000.0,5400000.00,4000000.00,6.470000e+07,8000000.0,2012.0,Feb,20.0,88.2,14.70
3,4,Cocomelon - Nursery Rhymes,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,2.0,2.0,...,493800.0,7900000.00,5900000.00,9.480000e+07,1000000.0,2006.0,Sep,1.0,88.2,14.70
4,5,SET India,Shows,SET India,116536,India,IN,Entertainment,3.0,2.0,...,455900.0,7300000.00,5500000.00,8.750000e+07,1000000.0,2006.0,Sep,20.0,28.1,5.36

In [10]:
import pandas_profiling

In [8]:
import ydata_profiling

In [9]:
from pandas_profiling import ProfileReport
prof = ProfileReport(df)
prof.to_file(output_file = "youtubedata.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]